IMAP_EMAIL='${IMAP_EMAIL}'
IMAP_PASSWORD='${IMAP_PASSWORD}'
API_KEY='${API_KEY}'
FOLDER_ID='${FOLDER_ID}'
HOST='${HOST}'
USER='${USER}'
PASSWORD='${PASSWORD}'
DATABASE='${DATABASE}'
AWS_ACCESS_KEY_ID='${AWS_ACCESS_KEY_ID}'
AWS_SECRET_ACCESS_KEY='${AWS_SECRET_ACCESS_KEY}'
ENDPOINT_URL='${ENDPOINT_URL}'
WHATSAPP_USER='${WHATSAPP_USER}'
WHATSAPP_PASS='${WHATSAPP_PASS}'
WHATSAPP_API_URL='${WHATSAPP_API_URL}'
PLUGGY_CLIENT_ID='${PLUGGY_CLIENT_ID}'
PLUGGY_CLIENT_SECRET='${PLUGGY_CLIENT_SECRET}'
PLUGGY_ACCOUNT_ID='${PLUGGY_ACCOUNT_ID}'
SECRET_KEY='${SECRET_KEY}'
