*/30 * * * * curl --location --request PUT 'http://datasaude-api.201.23.17.249.sslip.io/api/v1/poluentes/cetesb?persist=true'
0 22 * * * /home/ubuntu/executa_backup.sh
0 * * * *  curl --location --request POST 'https://rateio-online.beloni.dev.br/fechamento-pagamentos'
10 * * * *  curl --location --request POST 'https://rateio-online.beloni.dev.br/fechamento-despesas'
20 * * * *  curl --location --request POST 'https://rateio-online.beloni.dev.br/cobrar'
0 15 * * 5 curl --location --request POST  'https://rateio-online.beloni.dev.br/send-whatsapp?numero=5511983012408-1530297280@g.us'
0 12 * * * curl --location --request POST 'https://rateio-online.beloni.dev.br/extrato'
0 15 * * 5 curl --location --request POST  'https://rateio-online.beloni.dev.br/cobrar-whatsapp'