[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
uvicorn = "*"
httpx = "*"
jinja2 = "*"
python-dotenv = "*"
mysql-connector-python = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pandas = "*"
sqlalchemy = "*"
fastapi = "*"
pypix = {git = "git+https://github.com/cleitonleonel/pypix.git"}
boto3 = "1.35.99"
aiomysql = "*"
itsdangerous = "*"
python-multipart = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.12"
